*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
        DISPLAY: flex;
        align-items: center;
     padding; 20px;
}
nav{
    flex: 1;
   text-align: right;
   }
nav ul{
       display: inline-block;
     list-style-type: none;
}
nav ul li{
           display: inline-block;
          margin-right: 20px;
}
a{
  text-gecoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
      max-width: 1300px;
    margin: auto;
    padding-left: 25px;
     padding-left: 25px;
}

.row{
    display: flex;
     align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
         flex-basic: 50%;
         max-width: 300pxpx;
}
.col-2 img{
     max-width: 350px;
      padding-left: 500px 0;
   
     }
.col-2 h1{

       font-sige: 50px;
       line-hight: 60px;
       margin:    25pz 0;
}
.btn{
     display: inline-block;
    background: #ff523b;
    color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border radius: 30px;
  transition: background 0.5s
}
.btn:hover{
       background: #563434
}

.header{
   background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
     margin-top:70px;}
.categories{
        margin-top:70px 0;
}
.col-3{
 flex-basis: 30%;
 min-width: 250px;
margin-bottom: 30px;
}
.col-3 img{
   width: 100%;
}
.small-container{
   max-width: 1080px;
   margin: auto;
     padding-left: 25px;
   padding-right: 35px;
}
.col-4{

transition: transform 5s;
}
  

.title{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
       line-hight:60px;
      color:#555;
}
.title::after{
      content: '';
      background: #ff523b;
      width: 80px;
      height:5px;
      border-radius: 5px;
      position: absolute;
}

{.rating .fa{
   color: #ff523b;
}
.col-4:hover{
    transform: translatey(-5)
}
.brand{
  margin: 100px auto;
}
.col-5{
   width: 160px
}
.col-5 img{
   width: 100%;
   cursor: pointer;
   
}

/*------------footer-----------------*/
.footer{
     background: #000;
     color: #8a8a8a;
    font- size: 14px;
    padding: 60px 0 20;
}
.menu-icon{
 width: 20px;
 margin-left: 20px;
}
/*--------------- media query for menu ---------------*/
@media only screen and (max-width: 80px){
     
    nav ul{
           position: absolute;
          top: 70px;
          left: 0;
           background: #333;
          width: 100px;

}
}





    

















      